* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  font-family: 'Oxygen', sans-serif;
  /*border: 1px dotted red;*/
}

body {
  max-width: 1000px;
}

.backgroundimg {
  background-image: url(./normal-mode/assets/background.jpg);
  background-size: cover;
  background-position: 0% 10%;
  height: 325px;
  text-align: center;
  color: white;
  font-size: 250%;
  margin-top: 10px;
}

.navbar {
  color: grey;
}

.pricing {
  color: black;
}

#logo {
  padding-left: 10px;
}

.navlist {
  padding: 15px;
  font-size: 88%;
}

.motto {
  padding-top: 100px;
}

li {
  display: block;
  text-align: center;
  border: 0.5px solid grey;
  border-bottom: 0px solid grey;
  background-color: #F7F7F7;
  padding: 10px;
}

ul {
  margin-top: 0px;
}

.three-boxes {
  /*overflow: auto;*/
  text-align: center;
  margin-left: 30px auto;
  margin-top: 20px;
}

.top-content {
  text-align: center;
  padding: 35px;
}

.personal {
  font-size: 90%;
  letter-spacing: 3px;
}

.price {
  font-size: 300%;
}

.membership {
  /*border: 2px solid lightgrey;*/
  width: 260px;
  height: 200px;
  display: inline-block;
  margin: 10px;
}


.options-list {
  list-style: none;
  font-size: 75%;
  padding-left: 0px;
}

.green {
   background-color: #4C894C;
   color: white;
}

.blue {
   background-color:#2C4985;
   color: white;
 }

 .black {
   background-color: #111111;
   color: white;
 }

.per-month-green {
  color: #A8C8A8;
  font-size: 100%;
}

.per-month-blue {
  color: #93A1BF;
  font-size: 100%;
}

.per-month-black {
  color: #878787;
  font-size: 100%;
}

.choose {
  text-align: center;
  border: 0.5px solid grey;
  margin-top: -15px;
  padding: 15px;
}

button {
  border: 1px solid lightgrey;
  border-radius: 25px;
  background-color: white;
  font-size: 80%;
  font-weight: bold;
  padding-left: 10px;
  padding-right: 10px;
}

.lower-content {
  text-align: left;
	padding-left: 135px;
  padding-top: 20px;
}

.four-boxes {
	width: 355px;
	margin-right: 25px;
	margin-left: 25px auto;
	margin-top: 30px;
	display: inline-block;
	font-size: 10pt;
	line-height: 20px;
  vertical-align: top;
}

.lower-header {
	color: black;
	letter-spacing: 4px;
  font-weight: 900;
  font-size: 120%;
}

footer {
  background-color: black;
  color: grey;
  text-align: center;
  padding: 30px;
  font-size: 80%;
}

footer a {
  color: white;
}
